<!--
  Generated template for the TerminosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-toolbar color="light">
      <ion-buttons end>
        <button ion-button icon-only (click)="close()">
          <ion-icon name="md-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Términos y condiciones</ion-title>
    </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-spinner text-center *ngIf='loader == 0'></ion-spinner>
  <p *ngIf='loader == 1'>{{terminos}}</p>
</ion-content>
