<ion-content padding id="page33" style="background-color:#F0F0F5;">
  <!-- <form id="registroConductor2-form32"> -->
    <div class="spacer" style="height:20px;" id="registroConductor2-spacer111"></div>
    <div id="registroConductor2-markdown44" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:12px;">
        Tipo de documento de identidad:
      </p>
    </div>
    <ion-item id="registroConductor2-select5">
      <ion-label>Elige:</ion-label>
      <ion-select name="" [(ngModel)]="type">
        <ion-option>Cédula de ciudadanía</ion-option>
        <ion-option>Cédula de extranjería</ion-option>
        <ion-option>Pasaporte</ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="registroConductor2-input39">
      <ion-label></ion-label>
      <ion-input type="number" placeholder="Numero de documento:" [(ngModel)]="number"></ion-input>
    </ion-item><br>
    <button *ngIf="img_id == ''" id="registroConductor2-button51" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;" (click)="upload_id()">
      SUBIR DOCUMENTO DE IDENTIDAD CARA FRONTAL
    <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <label *ngIf="img_id != ''">Ya tienes una imagen cargada.</label>
    <button *ngIf="img_id != ''" id="registroConductor2-button51" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;" (click)="upload_id()">
      CAMBIAR IMAGEN DE IDENTIDAD CARA FRONTAL
    <ion-icon name="cloud-upload"></ion-icon>
    </button><br>
    <button *ngIf="img_id1 == ''" id="registroConductor2-button51" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;" (click)="upload_idBack()">
      SUBIR DOCUMENTO DE IDENTIDAD CARA POSTERIOR
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <label *ngIf="img_id1 != ''">Ya tienes una imagen cargada.</label>
    <button *ngIf="img_id1 != ''" id="registroConductor2-button51" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;" (click)="upload_idBack()">
      CAMBIAR IMAGEN DE IDENTIDAD CARA POSTERIOR
    <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <div class="spacer" style="height:20px;" id="registroConductor2-spacer130"></div>
    <div id="registroConductor2-markdown56" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:12px;">
        Ingresa fecha de vencimiento de tu licencia:
      </p>
    </div>
    <ion-item id="registroConductor2-input43">
      <ion-datetime displayFormat="DD MMM YYYY" min="{{min}}" max="2035-12-31" [(ngModel)]="date_lice"></ion-datetime>
    </ion-item><br>
    <button *ngIf="img_lice == ''" id="registroConductor2-button52" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;" (click)="upload_license()">
      SUBIR LICENCIA DE CONDUCCIÓN CARA FRONTAL
    <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <label *ngIf="img_lice != ''">Ya tienes una imagen cargada.</label>
    <button *ngIf="img_lice != ''" id="registroConductor2-button52" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;" (click)="upload_license()">
      CAMBIAR IMAGEN DE LICENCIA CARA FRONTAL
    <ion-icon name="cloud-upload"></ion-icon>
    </button><br>
    <button *ngIf="img_lice1 == ''" id="registroConductor2-button52" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;" (click)="upload_licenseBack()">
      SUBIR LICENCIA DE CONDUCCIÓN CARA POSTERIOR
    <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <label *ngIf="img_lice1 != ''">Ya tienes una imagen cargada.</label>
    <button *ngIf="img_lice1 != ''" id="registroConductor2-button52" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;" (click)="upload_licenseBack()">
      CAMBIAR IMAGEN DE LICENCIA CARA POSTERIOR
    <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <div class="spacer" style="height:20px;" id="registroConductor2-spacer131"></div>
    <div id="registroConductor2-markdown57" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:12px;">
        Los correos adicionales son solicitados por tu seguridad, su registro es opcional:
      </p>
    </div>
    <form [formGroup]="form">
      <ion-item id="registroConductor2-input41">
        <ion-label></ion-label>
        <ion-input formControlName="mail1" type="email" placeholder="Email 1 corporativo / académico (opcional):"></ion-input>
      </ion-item>
      <ion-item id="registroConductor2-input42">
        <ion-label></ion-label>
        <ion-input formControlName="mail2" type="email" placeholder="Email 2 corporativo / académico (opcional):"></ion-input>
      </ion-item>
    </form>
    <div class="spacer" style="height:20px;" id="registroConductor2-spacer127"></div>
    <button id="registroConductor2-button30" ion-button color="calm" block small style="font-size:13px;border-radius:0px 0px 0px 0px;" [disabled]="form.status == 'INVALID' || date_lice=='' || date_lice==undefined || date_lice=='' || date_lice==undefined || number=='' || number==undefined || type=='' || type==undefined || img_lice == '' || img_lice1 == '' || img_id == '' || img_id1 == ''" (click)="registerDocs();">
      FINALIZAR REGISTRO DEL HERO
    </button>
    <div class="spacer" style="height:20px;" id="registroConductor2-spacer128"></div>
    <div id="registroConductor2-markdown55" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        ¿Ya tienes una cuenta?
      </p>
    </div>
    <button id="registroConductor2-button50" ion-button color="calm" block small style="font-size:13px;" on-click="goToIniciaSesion()">
      INICIAR SESIÓN
    </button>
    <div class="spacer" style="height:30px;" id="registroConductor2-spacer129"></div>
  <!-- </form> -->
</ion-content>