<ion-content padding id="page26" style="background-color:#F0F0F5;">
  <!-- <form id="documentaciNVehCulo-form24"> -->
    <form [formGroup]="form" >
      <div class="spacer" style="height:10px;" id="documentaciNVehCulo-spacer70"></div>
      <div id="documentaciNVehCulo-markdown36" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:13px;">
          Necesitamos la siguiente documentación para completar el registro de tu vehículo:
        </p>
      </div>
      <div id="documentaciNVehCulo-markdown66" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:13px;">
          Ingresa fecha de vencimiento SOAT:
        </p>
      </div>
      <ion-item id="documentaciNVehCulo-input34">
        <ion-datetime displayFormat="DD MMM YYYY" min="{{min}}" max="2035-12-31" formControlName="soat_date"></ion-datetime>
      </ion-item>

      <button *ngIf="soat_img == ''" id="documentaciNVehCulo-button35" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;" (click)="upload_soat()">
        ANEXA EL SOAT ESCANEADO CARA FRONTAL
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
      <label *ngIf="soat_img != ''">Ya tienes una imagen cargada</label>
      <button *ngIf="soat_img != ''" id="documentaciNVehCulo-button35" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;" (click)="upload_soat()">
        CAMBIAR IMAGEN DEL SOAT CARA FRONTAL
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
      
      <button *ngIf="soat_back == ''" id="documentaciNVehCulo-button35" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;" (click)="upload_soatBack()">
        ANEXA EL SOAT ESCANEADO CARA POSTERIOR
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
      <label *ngIf="soat_back != ''">Ya tienes una imagen cargada</label>
      <button *ngIf="soat_back != ''" id="documentaciNVehCulo-button35" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;" (click)="upload_soat()">
        CAMBIAR IMAGEN DEL SOAT CARA POSTERIOR
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
      
      <div class="spacer" style="height:20px;" id="documentaciNVehCulo-spacer83"></div>
      <div id="documentaciNVehCulo-markdown66" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:13px;">
          Fecha de vencimiento RTM (sólo si aplica)
        </p>
      </div>
      <ion-item id="documentaciNVehCulo-input35">
        <label>sólo si aplica</label>
        <ion-datetime displayFormat="DD MMM YYYY" min="{{min}}" max="2035-12-31" formControlName="rtm_date"></ion-datetime>
      </ion-item>
    <button *ngIf="rtm_img == ''" (click)="upload_rtm()" id="documentaciNVehCulo-button36" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;">
      REVISIÓN TECNOMECÁNICA (sólo si aplica)
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <label *ngIf="rtm_img != ''">Ya tienes una imagen cargada</label>
    <button *ngIf="rtm_img != ''" (click)="upload_rtm()" id="documentaciNVehCulo-button36" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;">
      CAMBIAR IMAGEN REVISIÓN TECNOMECÁNICA
      <ion-icon name="cloud-upload"></ion-icon>
    </button>

    <div class="spacer" style="height:20px;" id="documentaciNVehCulo-spacer84"></div>
    <button *ngIf="property_img == ''" (click)="upload_property()" id="documentaciNVehCulo-button38" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;">
      TARJETA DE PROPIEDAD CARA FRONTAL
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <label *ngIf="property_img != ''">Ya tienes una imagen cargada</label>
    <button *ngIf="property_img != ''" (click)="upload_property()" id="documentaciNVehCulo-button35" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;">
      CAMBIAR TARJETA DE PROPIEDAD CARA FRONTAL
      <ion-icon name="cloud-upload"></ion-icon>
    </button>

    <button *ngIf="property_imgB == ''" (click)="upload_propertyB()" id="documentaciNVehCulo-button38" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;">
      TARJETA DE PROPIEDAD CARA POSTERIOR
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <label *ngIf="property_imgB != ''">Ya tienes una imagen cargada</label>
    <button *ngIf="property_imgB != ''" (click)="upload_propertyB()" id="documentaciNVehCulo-button35" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;">
      CAMBIAR TARJETA DE PROPIEDAD CARA POSTERIOR
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <div class="spacer" style="height:20px;" id="documentaciNVehCulo-spacer85"></div>
    <div id="documentaciNVehCulo-markdown66" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Ingresa fecha de vencimiento de tu póliza (opcional):
      </p>
    </div>
    <ion-item id="documentaciNVehCulo-input36">
      <ion-label>Opcional</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" min="{{min}}" max="2035-12-31" formControlName="policy_date"></ion-datetime>
    </ion-item>
    </form>
    <button *ngIf="policy_img == ''" [disabled]="form.status == 'INVALID'" (click)="upload_policy()" id="documentaciNVehCulo-button41" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;">
      PÓLIZA CONTRA TODO RIESGO (opcional)
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <label *ngIf="policy_img != ''">Ya tienes una imagen cargada</label>
    <button *ngIf="policy_img != ''" [disabled]="form.status == 'INVALID'" (click)="upload_policy()" id="documentaciNVehCulo-button41" ion-button color="royal" block icon-right style="font-size:12px;text-align:left;">
      CAMBIAR IMAGEN DE POLIZA
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <div class="spacer" style="height:20px;" id="documentaciNVehCulo-spacer94"></div>
    <button [disabled]="this.form.value.soat_date == '' || soat_img == '' || soat_back == '' || property_img == '' || property_imgB == ''" id="documentaciNVehCulo-button39" ion-button color="calm" block small style="font-size:13px;" on-click="goToConfirmaciNDocumentaciNVehCulo()">
      ENVIAR DOCUMENTACIÓN VEHÍCULO
    </button>
    <div class="spacer" style="height:20px;" id="documentaciNVehCulo-spacer81"></div>
    <div class="spacer" style="height:20px;" id="documentaciNVehCulo-spacer82"></div>
  <!-- </form> -->
</ion-content>