page-ver-usuario {
    .calification{
        background: #F1F9FC;height:100px;margin-top: 1%
    }
    .photo{
        height:80%; ;width:95%;border: 1px solid rgb(0, 0, 0) ;position: absolute;margin-top: 5%;margin-left:5%;
    }
    .description{
        margin-top: -2%;
        padding: 5%;
    }
    .name{
        color:blueviolet;
    }
    .text-input[disabled]{
        opacity: 1;
    }
}
