<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Ver usuario
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page29" style="background-color:#F0F0F5;">
  <form id="verUsuario-form27">
    <div class="spacer" style="height:20px;" id="verUsuario-spacer100"></div>
    <div id="verUsuario-markdown22" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Las siguientes son las calificaciones que el usuario ha recibido en el sistema:
      </p>
    </div>
    <div class="spacer" style="height:10px;" id="verUsuario-spacer103"></div>
    <button id="verUsuario-button29" ion-button color="light" block style="font-weight:500;color:#2C6BDA;font-size:16px;">
      {{client_data.name}}
    </button>
    <div><p>{{message}}</p></div>
    <div class="spacer" style="height:10px;" id="verUsuario-spacer124"></div>
    <div id="verUsuario-markdown39" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Sitio de recogida solicitado:
      </p>
    </div>
    <ion-item id="verUsuario-input15">
      <ion-label></ion-label>
      <ion-input disabled="{{isDisabled}}" value="{{pick}}" type="text"></ion-input>
    </ion-item>

    <div id="verUsuario-markdown39" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Sitio de bajada solicitado:
      </p>
    </div>
    <ion-item id="verUsuario-input15">
      <ion-label></ion-label>
      <ion-input disabled="{{isDisabled}}" value="{{this.client_data.address_end}}" type="text"></ion-input>
    </ion-item>

    <div id="verUsuario-markdown39" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Wins a cobrar por usuario:
      </p>
    </div>
    <ion-item id="verUsuario-input15">
      <ion-label></ion-label>
      <ion-input disabled="{{isDisabled}}" value="{{wins}}" type="text"></ion-input>
    </ion-item>

  </form><br>
  <div>
    <div *ngIf="show_spinner == true" text-center>
        <ion-spinner name="crescent"></ion-spinner>
    </div>
    <div *ngIf="show_spinner == false">
      <ion-row *ngFor="let i of items" class="calification">
        <ion-col col-4 >
          <img class="photo" src="{{i.photo}}" alt="">
        </ion-col>
        <ion-col col-6 class="description">
          <h6 class="name">{{i.name}} {{i.lastName}}</h6>
           {{i.comment}} {{i.average}}
        </ion-col>
        <ion-col col-2>
          <img *ngIf="i.start == 0" src="../../assets/img/startEmpty.png" style="margin-top:60%;" alt="">
          <img *ngIf="i.start == 1" src="../../assets/img/startHalfFull.png" style="margin-top:60%;" alt="">
          <img *ngIf="i.start == 2" src="../../assets/img/startMedium.png" style="margin-top:60%;" alt="">
          <img *ngIf="i.start == 3" src="../../assets/img/startHalfEmpty.png" style="margin-top:60%;" alt="">
          <img *ngIf="i.start == 4" src="../../assets/img/startFull.png" style="margin-top:60%;" alt=""> 
        </ion-col>
      </ion-row>
    </div>
  </div>
  <p *ngIf="bandera == true" style="color:#000000;font-size:13px;">
    Este usuario no ha recibido calificaciones.  
  </p>
  <!-- <ion-row class="calification" style="margin-top:3px;">
    <ion-col col-4 >
      <img class="photo" src="" alt="">
    </ion-col>
    <ion-col col-6 class="description">
      <h6 class="name">Sebastian Perez </h6>
      Muy Educado y coordial     
    </ion-col>
    <ion-col col-2>
      <img src="../../assets/img/startHalfFull.png" style="margin-top:40px;" alt="">
    </ion-col>
  </ion-row>
  <ion-row class="calification" style="margin-top:3px;">
    <ion-col col-4 >
      <img class="photo" src="" alt="">
    </ion-col>
    <ion-col col-6 class="description">
      <h6 class="name">Sebastian Perez </h6>
      Muy Educado y coordial     
    </ion-col>
    <ion-col col-2>
      <img src="../../assets/img/startMedium.png" style="margin-top:40px;" alt="">
    </ion-col>
  </ion-row>
  <ion-row class="calification" style="margin-top:3px;">
      <ion-col col-4 >
        <img class="photo" src="" alt="">
      </ion-col>
      <ion-col col-6 class="description">
        <h6 class="name">Sebastian Perez </h6>
        Muy Educado y coordial     
      </ion-col>
      <ion-col col-2>
        <img src="../../assets/img/startHalfEmpty.png" style="margin-top:40px;" alt="">
      </ion-col>
    </ion-row>

  <ion-row class="calification" style="margin-top:3px;">
      <ion-col col-4 >
        <img class="photo" src="" alt="">
      </ion-col>
      <ion-col col-6 class="description">
        <h6 class="name">Sebastian Perez </h6>
        Muy Educado y coordial     
      </ion-col>
      <ion-col col-2>
        <img src="../../assets/img/startFull.png" style="margin-top:40px;" alt="">
      </ion-col>
  </ion-row> -->
  <!-- <img src="assets/img/Ac9PXG9RGqaGY9SHOJGr_cali.jpg" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" /> -->
  <div class="spacer" style="height:20px;" id="verUsuario-spacer104"></div>
  <button *ngIf = "flag != true;" id="verUsuario-button44" ion-button color="positive" block small on-click="acceptUser()">
    ACEPTAR USUARIO
  </button>
  <form id="verUsuario-form30">
    <div class="spacer" style="height:20px;" id="verUsuario-spacer105"></div>
    <button id="verUsuario-button32" ion-button color="calm" block small on-click="goToEstadoDelViaje()">
      REGRESAR AL "ESTADO DEL VIAJE"
    </button>
    <div class="spacer" style="height:20px;" id="verUsuario-spacer106"></div>
  </form>
</ion-content>
