<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Confirmación mensaje
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page18" style="background-color:#F0F0F5;">
  <form id="confirmaciNMensaje-form13">
    <div class="spacer" style="height:20px;" id="confirmaciNMensaje-spacer166"></div>
    <img src="assets/img/NX7N0rekQlejU3fhgToM_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:50px;" id="confirmaciNMensaje-spacer45"></div>
    <div id="confirmaciNMensaje-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Tu mensaje ha sido enviado satisfactoriamente. Te estaremos respondiendo a la mayor brevedad.
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="confirmaciNMensaje-spacer46"></div>
    <img src="assets/img/5YmAs0E3QeCF4jR2Re54_iconook.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:20px;" id="confirmaciNMensaje-spacer47"></div>
    <button id="confirmaciNMensaje-button10" ion-button color="calm" block small style="font-size:13px;" on-click="goToCrearUnViaje()">
      ACEPTAR
    </button>
    <div class="spacer" style="height:30px;" id="confirmaciNMensaje-spacer48"></div>
  </form>
</ion-content>