<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Confirmación contraseña
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page25" style="background-color:#F0F0F5;">
  <div class="spacer" style="height:20px;" id="confirmaciNContraseA-spacer167"></div>
  <form id="confirmaciNContraseA-form23">
    <img src="assets/img/jpJPA05BQjyRDxwizYhg_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:50px;" id="confirmaciNContraseA-spacer75"></div>
    <div id="confirmaciNContraseA-markdown38" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Te hemos enviado un correo electrónico para que reestablezcas tu contraseña.
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="confirmaciNContraseA-spacer76"></div>
    <img src="assets/img/5YmAs0E3QeCF4jR2Re54_iconook.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:20px;" id="confirmaciNContraseA-spacer77"></div>
    <button id="confirmaciNContraseA-button37" ion-button color="calm" block small style="font-size:13px;" on-click="goToIniciaSesion()">
      ACEPTAR
    </button>
    <div class="spacer" style="height:30px;" id="confirmaciNContraseA-spacer78"></div>
  </form>
</ion-content>