<ion-content padding id="page24" style="background-color:#F0F0F5;">
  <!-- <form id="recordarContraseA-form22"> -->
    <div class="spacer" style="height:50px;" id="recordarContraseA-spacer72"></div>
    <div id="recordarContraseA-markdown35" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Ingresa el correo electrónico que usaste para registrarte
      </p>
    </div>
    <ion-list id="recordarContraseA-list6">
      <ion-item id="recordarContraseA-input23">
        <ion-label>Email:</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height:20px;" id="recordarContraseA-spacer73"></div>
    <button id="recordarContraseA-button34" ion-button color="calm" block small style="font-size:13px;" (click)="resetPassword()">
      ENVIAR CORREO
    </button>
  <!-- </form> -->
</ion-content>