<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Calificaciones
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page23" style="background-color:#F0F0F5;">
  <form id="verUsuario-form18">
    <div class="spacer" style="height:20px;" id="verUsuario-spacer30"></div>
    <div id="verUsuario-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Las siguientes son las calificaciones que el usuario ha recibido en el sistema:
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="verUsuario-spacer97"></div>
    <div class="spacer" style="height:20px;" id="verUsuario-spacer31"></div>
    <div *ngIf="bandera == false">
      <ion-row *ngFor="let i of items" class="calification">
        <ion-col col-5 >
          <img class="photo" src="{{i.photo}}" alt="">
        </ion-col>
        <ion-col col-5 class="description">
          <h6 class="name">{{i.name}} {{i.lastName}}</h6>
           {{i.comment}} {{i.average}}
        </ion-col>
        <ion-col col-2>
          <img *ngIf="i.start == 0" src="../../assets/img/startEmpty.png" style="margin-top:60%;" alt="">
          <img *ngIf="i.start == 1" src="../../assets/img/startHalfFull.png" style="margin-top:60%;" alt="">
          <img *ngIf="i.start == 2" src="../../assets/img/startMedium.png" style="margin-top:60%;" alt="">
          <img *ngIf="i.start == 3" src="../../assets/img/startHalfEmpty.png" style="margin-top:60%;" alt="">
          <img *ngIf="i.start == 4" src="../../assets/img/startFull.png" style="margin-top:60%;" alt=""> 
        </ion-col>
      </ion-row>
    </div>
    <p *ngIf="bandera == true" style="color:#000000;font-size:13px;">
      Este usuario no ha recibido calificaciones.  
    </p>
    <div class="spacer" style="height:30px;" id="verUsuario-spacer58"></div>
    <div class="spacer" style="height:20px;" id="verUsuario-spacer59"></div>
  </form>
</ion-content>