page-calificaciones {
    .calification{
        background: #F1F9FC;height:130px;margin-top: 1%
    }
    .photo{
        height: 80%; width: 95% ;border: 1px solid rgb(0, 0, 0) ;position: absolute;margin-top: 5%;margin-left:5%; margin-bottom: 5%
    }
    .description{
        margin-top: -2%;
        padding: 5%;
    }
    .name{
        color:blueviolet;
    }
}
