<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Confirmar cancelación de viaje
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page21" style="background-color:#F0F0F5;">
  <form id="confirmaciNCambioDeRuta-form19">
    <div class="spacer" style="height:20px;" id="confirmaciNCambioDeRuta-spacer164"></div>
    <img src="assets/img/zIAJCvsQsqfYVFwfOMOn_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:50px;" id="confirmaciNCambioDeRuta-spacer59"></div>
    <div id="confirmaciNCambioDeRuta-markdown24" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Su viaje ha sido cancelado satisfactoriamente.
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="confirmaciNCambioDeRuta-spacer60"></div>
    <img src="assets/img/5YmAs0E3QeCF4jR2Re54_iconook.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:20px;" id="confirmaciNCambioDeRuta-spacer61"></div>
    <button id="confirmaciNCambioDeRuta-button25" ion-button color="calm" block small style="font-size:13px;" on-click="goToCrearUnViaje()">
      ACEPTAR
    </button>
    <div class="spacer" style="height:30px;" id="confirmaciNCambioDeRuta-spacer62"></div>
  </form>
</ion-content>