<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Mensaje recibido
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page36" style="background-color:#F0F0F5;">
  <form id="mensajeRecibido-form35">
    <div class="spacer" style="height:10px;" id="mensajeRecibido-spacer171"></div>
    <div id="mensajeRecibido-markdown63" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Has recibido un nuevo mensaje de:
      </p>
    </div>
    <div class="spacer" style="height:10px;" id="mensajeRecibido-spacer177"></div>
    <img src="{{photo}}" style="display:block;width:170px;height:170px;margin-left:auto;margin-right:auto;" />
    <button id="mensajeRecibido-button57" ion-button color="light" block style="font-weight:500;color:#2C6BDA;font-size:16px;" (click)="goToVerUsuario()">
      {{name}}
    </button>
    <div class="spacer" style="height:20px;" id="mensajeRecibido-spacer173"></div>
    <div id="mensajeRecibido-markdown70" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:15px;">
        <strong>
          Mensaje: 
        </strong>
      </p>
    </div>
    <div *ngFor = "let i of messages" id="mensajeRecibido-markdown42" [ngClass]="{'messages':i.id != myId , 'messages-send':i.id == myId} " >      
      <p >
        {{i.msj}} 
      </p>      
  </div>
  </form>
  <button id="mensajeRecibido-button58" ion-button color="positive" block small on-click="goToResponderMensaje()">
    RESPONDER MENSAJE
  </button>
</ion-content>