<ion-content padding id="page23" style="background-color:#F0F0F5;">
  <form id="confirmaciNDocumentaciNConductor-form21" [formGroup]="form">
    <div class="spacer" style="height:10px;" id="confirmaciNDocumentaciNConductor-spacer155"></div>
    <img src="assets/img/5YmAs0E3QeCF4jR2Re54_iconook.png" style="display:block;width:20%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:10px;" id="confirmaciNDocumentaciNConductor-spacer156"></div>
    <div id="confirmaciNDocumentaciNConductor-markdown26" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Has completado el registro de HERO.
      </p>
    </div>
    <div class="spacer" style="height:20px;" id="confirmaciNDocumentaciNConductor-spacer65"></div>
    <div id="confirmaciNDocumentaciNConductor-markdown51" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Si vas a utilizar un vehículo previamente registrado en nuestro sistema, ingresa el código asignado por el sistema a tu grupo:
      </p>
    </div>
    <ion-item id="confirmaciNDocumentaciNConductor-input22">
      <ion-label></ion-label>
      <ion-input type="text" formControlName="code" placeholder="Còdigo No. "></ion-input>
    </ion-item>
    <button id="confirmaciNDocumentaciNConductor-button55" ion-button color="calm" block small style="font-size:13px;" [disabled]="form.status == 'INVALID'" on-click="goToConfirmaciNRegistroUsuarioConductor()">
      ENVIAR CÒDIGO
    </button>
    <div class="spacer" style="height:40px;" id="confirmaciNDocumentaciNConductor-spacer66"></div>
    <div id="confirmaciNDocumentaciNConductor-markdown49" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Si vas a registrar tu VEHÍCULO, te invitamos a continuar. Estas a 2 minutos de completar tu registro:
      </p>
    </div>
    <div class="spacer" style="width:300px;height:10px;" id="confirmaciNDocumentaciNConductor-spacer67"></div>
    <button id="confirmaciNDocumentaciNConductor-button31" ion-button color="calm" block small style="font-size:13px;" on-click="goToDatosDelVehCulo()">
      CONTINUAR
    </button>
    <div class="spacer" style="height:15px;" id="confirmaciNDocumentaciNConductor-spacer148"></div>
    <div class="spacer" style="height:10px;" id="confirmaciNDocumentaciNConductor-spacer150"></div>
    <div class="spacer" style="height:10px;" id="confirmaciNDocumentaciNConductor-spacer149"></div>
    <div class="spacer" style="height:30px;" id="confirmaciNDocumentaciNConductor-spacer68"></div>
  </form>
</ion-content>