// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu{
    position: 10px;
    width: 88%;
    margin-left: 20px;
}
.text-input[disabled] {
    opacity: 1.4;
    color: #000;
}
.outline{
    border: 0.5px solid black;
    height: 30px;
    border-color: #2d2d2d;
    color: #2d2d2d;
    background-color: transparent;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
