<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Viajes realizados
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page10" style="background-color:#F0F0F5;">
  <div class="spacer" style="height:20px;" id="viajesRealizados-spacer9"></div>
  <div id="viajesRealizados-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#000000;font-size:13px;">
      Elige las fechas para consultar tu historial de viajes realizados:
    </p>
  </div>
  <div class="spacer" style="height:20px;" id="viajesRealizados-spacer11"></div>
  <ion-item id="viajesRealizados-select1">
    <ion-label>Desde:</ion-label>
    <ion-datetime displayFormat="DD MMM YYYY" max="{{now}}" pickerFormat="DD MMM YYYY" [(ngModel)]="from"></ion-datetime>
  </ion-item>
  <ion-item id="viajesRealizados-select2">
    <ion-label>
      Hasta:
    </ion-label>
    <ion-datetime [disabled]="from == '' || from == undefined" displayFormat="DD MMM YYYY" min="{{from}}" max="{{now}}" pickerFormat="DD MMM YYYY" [(ngModel)]="to"></ion-datetime>
  </ion-item>
  <div class="spacer" style="height:30px;" id="viajesRealizados-spacer12"></div>
  <button id="viajesRealizados-button9" [disabled]="from =='' || from == undefined || to =='' || to ==undefined" ion-button color="calm" block small style="font-size:13px;" (click)= "buscar()">
    BUSCAR
  </button>
</ion-content>