<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Confirmación reporte de viaje
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page27" style="background-color:#F0F0F5;">
  <form id="confirmaciNReporteDeViaje-form25">
    <div class="spacer" style="height:20px;" id="confirmaciNReporteDeViaje-spacer169"></div>
    <img src="assets/img/oIsOZZJgRKWQ1uQ5XioA_logo_hero.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:50px;" id="confirmaciNReporteDeViaje-spacer136"></div>
    <div id="confirmaciNReporteDeViaje-markdown48" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:13px;">
        Tu reporte de viaje ha sido recibido satisfactoriamente.
      </p>
    </div>

    <div class="spacer" style="height:20px;" id="confirmaciNReporteDeViaje-spacer137"></div>
    <img src="assets/img/5YmAs0E3QeCF4jR2Re54_iconook.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="height:20px;" id="confirmaciNReporteDeViaje-spacer141"></div>
    <button id="confirmaciNReporteDeViaje-button46" ion-button color="calm" block small style="font-size:13px;" on-click="goToEstadoDelViaje()">
      ACEPTAR
    </button>
    <div class="spacer" style="height:30px;" id="confirmaciNReporteDeViaje-spacer145"></div>
  </form>
</ion-content>